.header {
    margin-bottom: 20px;
    margin-left: 40px;
}

.drop-zone {
    border: 2px dashed #007bff;
    border-radius: 4px;
    padding: 40px;
    text-align: center;
    margin-bottom: 20px;
    background-color: #f1f1f1;
    transition: background-color 0.3s;
}

.drop-zone.hover {
    background-color: #e1e7ff;
}

.confirm {
    display: none;
    /* 初始隐藏 */
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 30%;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    text-align: center;
}

.confirm_overlay {
    display: none;
    /* 初始隐藏 */
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.blue-fade {
    animation: blueFade 0.3s forwards;
}

table {
    width: 100%;
    border: 1px solid #ccc;
}

tr {
    border: 1px solid #ccc;

}

td,
th {
    border: 1px solid #ccc !important;
    text-align: center !important;
    padding: 10px;
}

@keyframes blueFade {
    0% {
        color: black;
        /* Start white */
    }

    100% {
        color: deepskyblue;
        /* Change to blue */
    }
}