* {
    margin: 0;
    padding: 0;
}

#background_container {
    width: 100%;
    height: 100vh;
}

.my-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

body {
    background-color: #efefef;
}

.lefter {
    width: 15%;
    height: 100vh;
    background-color: lightgrey;
    align-items: none;
}

.righter {
    /* position: absolute; */
    width: 15%;
    height: 100vh;
    left: 85%;
    background-color: white;
}

.sidebar-trigger {
    text-orientation: upright;
    /* 文字方向保持直立 */
    writing-mode: vertical-rl;
    /* 垂直方向从右到左书写 */
    position: absolute;
    /* 设置为绝对定位 */
    top: 50%;
    /* 将顶部边缘移动到父容器的垂直中央 */
    right: 0;
    /* 将右侧边缘紧贴着父容器的右侧 */
    transform: translateY(-50%);
    /* 使用 transform 属性将子元素垂直居中（相对于其顶部边缘） */
    background-color: lightcoral;
    /* 背景颜色用于可视化 */
    padding: 10px;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
    z-index: 1000;
    transition: right 0.3s ease-in-out;
}

.sidebar-trigger-open {
    right: 270px;
    /* 根据侧边栏宽度调整 */
}

.sidebar-trigger:hover {
    background-color: #ccc;
    cursor: pointer;
}

.sidebar {
    position: fixed;
    top: 0;
    right: -270px;
    /* 初始位置在屏幕外侧 */
    width: 270px;
    height: 100%;
    background-color: #333;
    color: white;
    transition: right 0.3s ease-in-out;
    /* 添加过渡效果 */
    z-index: 999;
    /* 确保侧边栏在内容之上，但低于触发按钮 */
}

.sidebar-open {
    right: 0px;
    /* 根据侧边栏宽度调整 */
}

.sidebar-content {
    padding: 20px;
    overflow-y: auto;
    /* 允许内容垂直滚动 */
    height: 100%;
}

.main {
    width: 70%;
    height: 100vh;
    background-color: white;
    overflow-y: auto;
    /* 允许竖直滚动 */
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
}

/* 针对基于 WebKit 的浏览器（如 Chrome、Safari、Edge 的旧版本） */
.main::-webkit-scrollbar {
    display: none;
}

.screen {
    /* background-color: black; */
    flex-basis: 80%;
    height: 90%;
    border: solid black;
    background-color: white;
    width: 100%;
}

#screen_container {
    height: 80vh;
    background-color: rgba(244, 165, 96, 0.637);
}

/* #gametable_container {
    height: 40vh;
} */

#gametable_container {
    height: 20vh;
    background-color: rgba(172, 255, 47, 0.606);
}

.profile_pic:hover {
    cursor: pointer;
}

.profile_pic {
    display: block;
    /* width: 150px;
    height: 150px; */
    width: 65%;
    /* height: 10%; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    /* padding-left: 40px;
    padding-top: 20px; */
}

.username {
    margin-top: 20px;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    color: blue;
}

.gamename {
    margin-top: 10px;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    color: green;
}

.history_best {
    margin-top: 10px;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    color: red;
}

.game_icon_table {
    /* flex-basis: 15%; */
    width: 75px;
    margin: 0 auto;
}

.game_icon {
    display: block;
    width: 100px;
    height: 100px;
    background-color: blue;
}

.game_icon:hover {
    cursor: pointer;
}

.game_name {
    display: block;
    width: 100px;
    text-align: center;
}

.rank_title {
    text-align: center;
    color: red;
}

#canvas {
    width: 450px;
    height: 450px;
    /* margin-top: 50px; */
    margin-left: 225px;
}

.item {
    width: 550px;
    margin: 20px auto;
    height: 20px;
}

.item span {
    font-size: 30px;
    float: left;
    color: #776e65;
    font-weight: bold;
    margin-left: 100px;
}

.item button {
    font-size: 20px;
    float: right;
    width: 120px;
    height: 40px;
    background: #bbada0;
    border: 0;
    color: #fff;
    border-radius: 5px;
    box-shadow: inset 2px 2px 3px 1px #c7c1bb;
    cursor: pointer;
    outline: none;
    margin-right: 75px;
}

.item button:hover {
    background: #a29c96;
}

.commentarea {
    width: 100%;
    height: 100vh;
}

.comment_box input {
    height: 100px;
    flex-basis: 80%;
}

.list-group-item {
    color: lightskyblue;
}

/* 加载动画css */
.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #242f3f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
}

.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
}

.myth,
.mytd {
    background-color: #333 !important;
    color: white !important;
}


@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-inner {
    0% {
        height: 0%;
    }

    25% {
        height: 0%;
    }

    50% {
        height: 100%;
    }

    75% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}