body {
    padding: 0;
    margin: 0;
    background-image: url("./../img/login_background.jpg");
    background-size: cover;
    /* 图片将缩放以完全覆盖body元素 */
}

form {
    min-width: 350px;

    width: 25vw;
    background-color: white;
    padding: 5px;
    margin: 35vh auto;
    border-radius: 10px;
}

/* i{
    color: black;
} */

.heading {
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 30px;
    color: #4f4f4f;
}

li {
    list-style: none;
}

.line {
    /* display: inline-block; */
    margin: 20px 0;
    text-align: right;
    margin-right: 100px;
}

.responsive-svg {
    height: 100%;
    /* 让SVG填满容器的高度 */
    width: auto;
    /* 宽度自动调整以保持宽高比 */
    max-width: 100%;
    /* 确保SVG不会超过容器的宽度 */
}

input {
    height: 20px;
}

.login_button {
    margin: auto;
    height: 40px;
    width: 120px;
    color: white;
    background-color: rgb(43, 151, 252);
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
}

.login_button:hover {
    background-color: rgb(96, 163, 225);
    cursor: pointer;
}

.login_button:disabled {
    background-color: #ccc;
    /* 灰色背景 */
    color: #666;
    /* 灰色文字 */
    /* 你可以根据需要添加其他样式，比如边框颜色、透明度等 */
    /* 灰色边框 */
    cursor: not-allowed;
    /* 改变鼠标悬停时的光标样式，表示不可点击 */
}

a {
    margin: right -20px;
    color: gray;
    /* 灰色 */
    text-decoration: none;
    /* 去掉下划线 */
}

/* 鼠标悬浮在超链接上的样式 */
a:hover {
    color: rgb(173, 230, 222) !important;
    /* 浅蓝色 */
}

/* 点击后的超链接样式 */
a:visited {
    color: gray;
    /* 黑色 */
}

input.fill_in {
    height: 25px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 1.5px;
    outline: none;
}

input.fill_in:focus {
    border-color: rgb(173, 230, 222);
}

#errormsg {
    color: red;
    font-size: 15px;
    margin-top: -0.5px;
}