body {
    padding: 0;
    margin: 0;
    background-color: rgba(67, 125, 239, 0.867);
}

form {
    width: 20vw;
    background-color: white;
    padding: 5px;
    margin: 35vh auto;
    border-radius: 10px;
}

li {
    list-style: none;
}

.line {
    /* display: inline-block; */
    margin: 20px 0;
    text-align: right;
    margin-right: 40px;
}

input {
    height: 20px;
}

.login_button {
    margin-right: 20px;
    height: 30px;
    width: 60px;
    color: white;
    background-color: rgb(43, 151, 252);
    border: none;
}