* {
    margin: 0;
    padding: 0;
}

/* 以下是消息中心后加入的一些css样式 */
.message-item {
    padding: 1.25rem;
    border-left: 4px solid #e3e6f0 !important;
    transition: border-left-color 0.3s ease;
}

.message-item:hover {
    border-left-color: #0d6efd !important;
}

.message-item.checked {
    border-left-color: #198754;
}

.message-title {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.message-meta {
    font-size: 0.875rem;
    color: #6c757d;
}

.message-time {
    margin-left: auto;
}

.checkbox-custom {
    margin-right: 1rem;
}

/* 到这里结束 */

#background_container {
    width: 100%;
    height: 100vh;
}

.my-flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.profile_pic {
    display: block;
    width: 65%;
    margin: 0 auto;
    border-radius: 50%;
}

.lefter {
    /* display: inline; */
    background-color: #eeeeee;
    height: 100vh;
    width: 15%;
}

.option {
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
}

#update_password_form {
    width: 450px;
    height: 400px;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
}

.option:hover {
    cursor: pointer;
}

.main {
    width: 85%;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: white;
    /* 图片将缩放以完全覆盖body元素 */
}

.line {
    margin: 40px 0;
    list-style: none;
    font-size: 20px;
    text-align: right;
}

.input_box {
    width: 250px;
    height: 25px;
}

.confirm_button {
    width: 100px;
    height: 40px;
    font-size: 20px;
    color: white;
    background-color: lightseagreen;
    margin-right: 15px;
    border: none;
    border-radius: 10px;
}

.confirm_button:disabled {
    background-color: #ccc;
    cursor: not-allowed !important;
    /* 不可点击 */
}

.confirm_button:hover:not(:disabled) {
    background-color: rgb(67, 212, 205);
    cursor: pointer;
}

.logout_button {
    width: 100px;
    height: 40px;
    font-size: 20px;
    color: white;
    background-color: red;
    border: none;
    border-radius: 10px;
}

.logout_button:hover {
    background-color: rgb(245, 107, 107);
    cursor: pointer;
}

/* .line-container {
    display: flex;
    align-items: center;
} */

.input_title {
    text-align: left;
}

#invisible_input_box {
    display: none;
}

#invisible_line {
    list-style: none;
}

.my-btn:hover {
    cursor: pointer;
}

a,
.option {
    margin: right -20px;
    color: gray;
    /* 灰色 */
    text-decoration: none;
    /* 去掉下划线 */
}

/* 鼠标悬浮在超链接上的样式 */
a:hover,
.option:hover {
    background-color: #ccc;
}

/* 点击后的超链接样式 */
a:visited,
.option:visited {
    color: gray;
    /* 黑色 */
}


.comfirm_button:disabled {
    background-color: #ccc;
    /* 灰色背景 */
    color: #666;
    /* 灰色文字 */
    /* 你可以根据需要添加其他样式，比如边框颜色、透明度等 */
    /* 灰色边框 */
    cursor: not-allowed;
    /* 改变鼠标悬停时的光标样式，表示不可点击 */
}

input.fill_in {
    height: 25px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 1.5px;
    outline: none;
}

input.fill_in:focus {
    border-color: rgb(173, 230, 222);
}

#errormsg {
    color: red;
    font-size: 15px;
    margin-top: -0.5px;
}

.main {
    background-image: url("./../img/login_background.jpg");
    background-size: cover;
}

.heading {
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-right: 20px;
    text-align: center;
    font-size: 30px;
    color: #4f4f4f;
}